In [1]:
import pandas as pd

In [11]:
age = pd.read_csv('family_person_age.txt', delimiter = '\t') #TXT to CSV by pandas
cnt = pd.read_csv('family_person_cnt.txt', delimiter = '\t') #TXT to CSV by pandas
uni = pd.read_csv('univ_students.txt', delimiter = '\t')# https://data.seoul.go.kr/dataList/10833/S/2/datasetView.do#

In [12]:
age

,기간,구분,성별,합계,20세미만,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
0,2018,합계,계,"1,229,421","14,487","109,213","195,284","155,740","118,254","84,910","88,852","75,442","83,433","82,818","63,468","56,393","49,529","31,917","19,681"
1,2018,합계,남자,"581,944","5,629","39,816","97,792","87,035","66,348","48,293","52,190","44,348","43,292","35,991","22,888","16,656","11,828","6,298","3,540"
2,2018,합계,여자,"647,477","8,858","69,397","97,492","68,705","51,906","36,617","36,662","31,094","40,141","46,827","40,580","39,737","37,701","25,619","16,141"
3,2018,종로구,계,"25,326",798,"3,741","4,007","2,587","1,880","1,454","1,734","1,578","1,683","1,508","1,113","1,111","1,014",674,444
4,2018,종로구,남자,"12,635",304,"1,761","2,259","1,441",976,778,964,908,972,801,494,409,307,165,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2018,송파구,남자,"28,740",159,900,"4,092","5,162","4,017","2,961","2,828","2,166","2,020","1,694","1,067",751,526,238,159
74,2018,송파구,여자,"34,711",127,"1,784","5,282","4,904","3,958","2,501","2,290","1,721","2,223","2,626","2,109","1,806","1,470","1,090",820
75,2018,강동구,계,"42,126",144,"1,580","4,861","4,839","4,242","3,261","3,576","3,171","3,934","3,852","2,773","2,253","1,765","1,126",749
76,2018,강동구,남자,"20,404",64,489,"2,273","2,700","2,468","1,904","2,177","1,961","2,036","1,707","1,045",723,489,241,127
77,2018,강동구,여자,"21,722",80,"1,091","2,588","2,139","1,774","1,357","1,399","1,210","1,898","2,145","1,728","1,530","1,276",885,622

In [13]:
cnt

,기간,자치구,동,전체세대수,1인세대,2인세대,3인세대,4인세대,5인세대,6인세대,7인세대,8인세대,9인세대,10인세대 이상
0,2020.06,합계,합계,"4,384,076","1,810,878","940,220","767,670","668,740","152,518","32,661","7,992","2,179",687,531
1,2020.06,종로구,계,"74,497","37,503","14,341","10,697","8,837","2,364",524,164,38,13,16
2,2020.06,종로구,사직동,"4,717","2,373",935,673,536,147,30,17,2,1,3
3,2020.06,종로구,삼청동,"1,370",729,252,182,140,43,19,4,-,-,1
4,2020.06,종로구,부암동,"4,346","1,686",972,745,689,177,50,20,3,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.06,강동구,둔촌1동,161,114,18,11,14,2,2,-,-,-,-
447,2020.06,강동구,둔촌2동,"11,234","3,676","2,581","2,299","2,152",421,79,23,1,1,1
448,2020.06,강동구,암사1동,"16,179","6,343","3,762","3,047","2,402",487,99,28,9,2,-
449,2020.06,강동구,천호2동,"17,754","8,750","3,988","2,639","1,837",415,95,24,5,1,-
450,2020.06,강동구,길동,"21,282","8,895","4,652","3,808","2,954",741,170,47,10,4,1

In [15]:
uni

      기간 행정구역별       합계       남자       여자
0   2020    합계  414,524  205,290  209,234
1   2020   종로구    8,276    4,144    4,132
2   2020    중구    4,788    2,101    2,687
3   2020   용산구    8,429    4,113    4,316
4   2020   성동구   13,539    6,574    6,965
5   2020   광진구   15,155    7,340    7,815
6   2020  동대문구   15,886    7,434    8,452
7   2020   중랑구   15,227    7,761    7,466
8   2020   성북구   21,335    9,919   11,416
9   2020   강북구   12,724    6,227    6,497
10  2020   도봉구   14,201    7,198    7,003
11  2020   노원구   28,474   14,474   14,000
12  2020   은평구   20,596   10,401   10,195
13  2020  서대문구   14,523    6,875    7,648
14  2020   마포구   14,769    6,938    7,831
15  2020   양천구   21,815   11,267   10,548
16  2020   강서구   22,970   11,427   11,543
17  2020   구로구   15,836    8,265    7,571
18  2020   금천구    9,046    4,522    4,524
19  2020  영등포구   12,777    6,471    6,306
20  2020   동작구   16,643    8,005    8,638
21  2020   관악구   20,319    9,567   10,752
22  2020   서초구   17,472    8,620    8,852
23  2020   강남구   24,333   12,285   12,048
24  2020   송파구   28,359   14,470   13,889
25  2020   강동구   17,032    8,892    8,140

In [7]:
# file=file.rename(columns={"기간":"Time","자치구":"Gu","동":"Dong","일반가구":"Total","일반가구.1":"1","일반가구.2":"2","일반가구.3":3,"일반가구.4":"4","일반가구.5":"5","일반가구.6":"6","일반가구.7":"7"})

In [19]:
# file.drop([0],inplace=True)#columns

In [8]:
cnt['자치구'].unique()

array(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구',
       '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype=object)

In [10]:
age['구분'].unique()

array(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구',
       '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype=object)